- @body_class = 'no-sidebar'
- @menu 			= 'themes'

#main.edit_theme
	-form_for @theme, :url => manage_theme_path(@theme), :html => {:multipart => true} do |t|
		%h1 Edit Theme
		=t.label :name, 'Name', :class => 'on-top'
		=t.text_field :name, :class => 'text_field big wide'
		
		-fields_for @theme_version do |v|
			=hidden_field_tag 'theme_version[active]', true
			
			=v.label :code, "Template Code", :class => 'on-top'
			=v.text_area :code, {:style => 'width:900px; height:400px;'}
			
			%h2{:style => 'margin:40px 0 0 0;'} Static File Assets
			%table#static_assets
				%tr
					%th Filename
					%th URL
				-@theme_version.theme_assets.each do |i|
					%tr
						%td=i.file_name
						%td="<input type=\"text\" size=\"80\" value=\"#{i.url}\" />"
			%p <input class="image_file" id="theme_assets" name="theme_assets[]" type="file" />

			%h2{:style => 'margin:40px 0 0 0;'} Customizable Variables
			%table#theme_variables
				%tr
					%th Type
					%th Name
					%th Value
					%th
				-@theme_version.texts.each_pair do |key,value|
					%tr.theme_variable
						%td Text
						%td=key
						%td=text_field_tag "theme_version[texts][#{key}]", value
						%td
				-@theme_version.colors.each_pair do |key,value|
					%tr.theme_variable
						%td Color
						%td=key
						%td=text_field_tag "theme_version[colors][#{key}]", value
						%td
				-@theme_version.ifs.each_pair do |key,value|
					%tr.theme_variable
						%td Boolean
						%td=key
						%td=check_box_tag "theme_version[ifs][#{key}]", nil, value, :disabled => true
						%td
				-@theme_version.images.each_pair do |key,value|
					%tr.theme_variable
						%td Image
						%td=key
						%td=text_field_tag "theme_version[images][#{key}]", value
						%td
			=link_to 'Add Variable', '#', :id => "add_variable"
			
			%h2{:style => 'margin:50px 0 0 0;'} Theme Thumbnail
			=v.label :thumbnail, 'Select a thumbnail image...', :class => 'on-top'
			=v.file_field :thumbnail
			%p=gridfs_image_tag(@theme_version.thumbnail_id)
		%p=submit_tag