- @body_class = 'no-sidebar'
- @menu 			= 'supporters'

#main
	%h1 Campaign Supporters
	%table{:id => "supporters_table", :class => "tablesorter"}
		%thead
			%tr
				%th Email
				%th First Name
				%th Last Name
				%th City
				%th State
				%th Phone
				%th Joined On
		%tbody
			-for supporter in @supporters
				="<tr class='supporter_row' data-url='#{admin_supporter_path(supporter)}'>"
				%td= link_to supporter.email, admin_supporter_path(supporter)
				%td= link_to_unless supporter.first_name.blank?, supporter.first_name, admin_supporter_path(supporter)
				%td= link_to_unless supporter.last_name.blank?, supporter.last_name, admin_supporter_path(supporter)
				%td= supporter.locality
				%td= supporter.administrative_area
				%td= supporter.phone
				%td= supporter.created_at.strftime('%b %d, %Y at %I:%M %p')
				="</tr>"
		%tfoot{:id => "pager", :class => "pager"}
			%tr
				%td{:colspan => "8"}
					%form
						%img{:src => "/images/tablesorterpager/first.png", :class => "first"}
						%img{:src => "/images/tablesorterpager/prev.png", :class => "prev"}
						%input{:type => "text", :class => "pagedisplay"}
						%img{:src => "/images/tablesorterpager/next.png", :class => "next"}
						%img{:src => "/images/tablesorterpager/last.png", :class => "last"}
						&nbsp;&nbsp;
						%select{:class => "pagesize"}
							%option{:selected => true, :value => "20"} 20
							%option{:value => "40"} 40
							%option{:value => "60"} 60
	
	#export-supporters-button.buttons
		=link_to "#{image_tag('icons-shadowless/document-excel-csv.png', :alt => '')} Download CSV File", export_admin_supporters_path