/ Copyright (c) 2010-2011 ProgressBound, Inc.
/ 
/ Permission is hereby granted, free of charge, to any person obtaining
/ a copy of this software and associated documentation files (the
/ "Software"), to deal in the Software without restriction, including
/ without limitation the rights to use, copy, modify, merge, publish,
/ distribute, sublicense, and/or sell copies of the Software, and to
/ permit persons to whom the Software is furnished to do so, subject to
/ the following conditions:
/ 
/ The above copyright notice and this permission notice shall be
/ included in all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
/ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
/ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
/ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
/ LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
/ OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
/ WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

- @body_class = 'no-sidebar'
- @menu 			= 'contributions'

#main
	%h1 Contribution Detail
	%table.contribution
		%tr
			%th Transaction Status
			%td= @contribution.status.titlecase
		%tr
			%th Reference #
			%td= @contribution.order_id
		%tr
			%th Amount
			%td= number_to_currency(@contribution.amount)
		%tr
			%th Contributor
			%td
				=@contribution.first_name
				=@contribution.last_name
		%tr
			%th Email
			%td= mail_to(@contribution.email)
		%tr
			%th Phone Number
			%td= @contribution.phone
		%tr
			%th Billing Address
			%td
				=@contribution.address1
				-unless @contribution.address2.blank?
					%br
					=@contribution.address2
				%br
				="#{@contribution.city}, #{@contribution.state} #{@contribution.zip}"
				%br
				=@contribution.country
		%tr
			%th Card Information
			%td
				=@contribution.card_information
				%br
				="Exp. #{@contribution.card_month}/#{@contribution.card_year}"
		%tr
			%th Submitted
			%td= @contribution.created_at.strftime('%m/%d/%Y %l:%M %p')
		%tr
			%th Employer
			%td= @contribution.employer
		%tr
			%th Occupation
			%td= @contribution.occupation
		%tr
			%th Eligibility Statement Agreed To
			-if @contribution.compliance_confirmation
				%td= @contribution.compliance_statement
			-else
				%td No eligibility statement was required when the contribution was made.
	
	#contribution-admin-buttons.buttons
		-if @contribution.reversible?
			=link_to "#{image_tag('icons-shadowless/cross.png', :alt => '')} Refund Contribution".html_safe, refund_manage_contribution_path(@contribution), :class => 'negative', :method => :put