!!! 5
%html
	%head
		%title= "Thank you for your contribution!"
		=stylesheet_link_tag "reset-min.css"
		=stylesheet_link_tag "fonts-min.css"
		=stylesheet_link_tag "contribute"
		=javascript_include_tag "jquery.min.js"
	%body
		#contribution
			%h1= "Thank you for your contribution!"
			%p.thank_you 
				Your generous contribution is a critical component to the success of our campaign!<br/>
				Your receipt is below and a copy will be emailed to you:
			#receipt
				%table
					%tr
						%th Contribution To
						%td= @contribution.site.name
					%tr
						%th Reference #
						%td= @contribution.order_id
					%tr
						%th Transaction Time
						%td= @contribution.created_at.strftime('%m/%d/%Y %l:%M %p')
					%tr
						%th Amount
						%td= number_to_currency(@contribution.amount)
					%tr
						%th Contributor Information
						%td
							=@contribution.first_name
							=@contribution.last_name
							%br
							=@contribution.address1
							-unless @contribution.address2.blank?
								%br
								=@contribution.address2
							%br
							="#{@contribution.city}, #{@contribution.state} #{@contribution.zip}"
							%br
							=@contribution.country
							%br
							=@contribution.phone
