!!! 5
%html
	%head
		%meta{:charset => "utf-8"}
		%title= "stumpwise :: #{current_site.name}"
		=authenticity_token
		:plain
			<!--[if lt IE 9]>
				<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
			<![endif]-->
		=stylesheet_link_tag 'master.css'
		=javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
		=javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'
		=javascript_include_tag 'jrails.js','tiny_mce/jquery.tinymce.js','jquery.tablesorter.min.js','jquery.tablesorter.pager.js','application.js'
		=yield :head
	%body{:class => @body_class}
		#container
			#header
				%h1 Stumpwise
				%h2= current_site.name || ''
				#account-nav
					-if super_admin?
						=link_to 'Administration Panel', manage_root_url(:subdomain => "admin")
						%span &#124;
					/
						=link_to 'Users', '/'
						%span &#124;
					
					=link_to 'View Site', current_site.root_url
					%span &#124;
					=link_to 'My Profile', edit_admin_profile_path
					%span &#124;
					=link_to 'Log Out', admin_logout_path
				%div{:style => "clear:both;"}
				#menu
					=link_to 'Web Site', admin_root_path, :class => @menu == 'website' ? 'current' : ''
					=link_to 'Supporters', admin_supporters_path, :class => @menu == 'supporters' ? 'current' : ''
					=link_to 'Contributions', admin_contributions_path, :class => @menu == 'contributions' ? 'current' : ''
					-if current_site.campaign_monitor_password
						-form_tag "http://email.stumpwise.com/login.aspx", :id => 'createsend', :target => '_blank', :method => :post do 
							=hidden_field_tag 'username', current_site.subdomain
							=hidden_field_tag 'password', current_site.campaign_monitor_password
						=link_to_function 'Email', "$('#createsend').submit()", :class => @menu == 'email' ? 'current' : ''
					/
						=link_to 'SMS', '/', :class => @menu == 'sms' ? 'current' : ''
			#content
				= flash_messages
				= yield
				%div{:style => "clear:both;"}
			#footer
				&copy;
				%strong ProgressBound, Inc.
				%span &#124;
				=link_to 'Terms of Use','http://stumpwise.com/info/campaigns'
				%span &#124;
				=link_to 'User Conduct Policy','http://stumpwise.com/info/conduct'
				%span &#124;
				=link_to 'Privacy Policy','http://stumpwise.com/info/privacy'
		
		%script{:type => "text/javascript"}
			:plain
				// <![CDATA[
			=yield :javascript
			:plain
				// ]]>